<style type="text/css">
	.modal {
		width: 30% !important;
		height: 40% !important;
	}
	.lean-overlay {
		display: block;
		opacity: 0.5;
	}
</style>
<div>
	<div id="confirmModal" class="modal-content">
		<p> <b>Clicking "Continue" will clear all values from your calendar</b></p> 
	</div>
	<div class="modal-footer create-pdf" >
		<div class="create-pdf-button" style="align-items: center;margin-left: 20%;">
			<a href="#" ng-click="dialogCtrl.delete()" class="waves-effect waves-light btn" >Continue</a>&nbsp;
			<a class="modal-action modal-close waves-effect waves-light" style="
			margin: 42px;text-decoration: underline;" ng-click="clearAll()">Cancel</a>
		</div>
	</div>
</div>